.contacts__block {
  display: flex;
  align-items: stretch;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 124px 122px 113px 160px;
  max-width: 700px;
  border: 1px solid var(--muted-color);
}

.info__showroom__item {
  margin-bottom: 28px;
}

.showroom__title {
  margin-bottom: 1px;
}
.contacts__subheading {
  margin-bottom: 16px;
  font-weight: 400;
  /* letter-spacing: 1px; */
}

.contact-form {
  margin-bottom: 33px;
}

.contact-form__input {
  margin-bottom: 23px;
  padding: 5px 30px;
  width: 400px;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 100px;
}

.contact-form__input:last-child {
  margin-bottom: 0;
}

.contact-form__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

.form__checkbox__input {
  display: none;
  position: absolute;
  opacity: 0;
}

.form__checkbox__text {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 20px;
  color: var(--text-color-muted);
}

.form__checkbox__text::before {
  content: '';
  margin-right: 5px;
  min-width: 12px;
  min-height: 12px;
  border: 1px solid var(--muted-color);
  background-position: center;
  background-repeat: no-repeat;
}

.form__checkbox__input:checked+.form__checkbox__text::before {
  background-image: url('../img/checked.png');
  border-color: var(--accent-color);
  /* border: 1px solid var(--text-color-muted); */
}

.form__checkbox__text::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  right: 0;
  opacity: 0;
  outline: 1px solid var(--accent-color);
}

.form__checkbox__input:hover+.form__checkbox__text::after, .form__checkbox__input:focus+.checkbox__text::after {
  opacity: 1;
}

.contact-form__btn {
  margin-right: 30px;
}

.contacts__messenger {
  display: flex;
}

.messenger__item:not(:last-child) {
  margin-right: 20px;
}

.messenger__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.messenger__whatsapp {
  background-image: url('/img/whatsapp-icon.svg')
}

.messenger__telegram {
  background-image: url('/img/telegram-icon.svg')
}

.contacts__map {
  width: calc(100% - 682px);
}
/* Стилизация Yandex карты */
[class*="ground-pane"] {
  filter: grayscale(1);
}
[class*="copyrights"] {
  display: none;;
}