.events {
  margin-bottom: 78px;
}

.events__heading {
  margin-bottom: 15px;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.events__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-right: calc(100px / 2);
  padding-bottom: 38px;
  width: calc(100% / 3 - 100px / 3);
  min-height: 700px;
  border: 1px solid #CACACA;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.events__item:nth-child(3n) {
  margin-right: 0;
}

.events__item:nth-child(n+4) {
  display: none;
  opacity: 0;
}

.event__img {
  width: 100%;
  height: 300px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  margin-bottom: auto;
  padding: 13px 18px 13px 50px;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  /* opacity: 1; */
}

.event:nth-child(1) .event__img {
  background-image: url('/img/event-1.jpg');
}

.event:nth-child(2) .event__img {
  background-image: url('/img/event-2.jpg');
}

.event:nth-child(3) .event__img {
  background-image: url('/img/event-3.jpg');
}

.event:nth-child(4) .event__img {
  background-image: url('/img/event-4.jpg');
}

.event:nth-child(5) .event__img {
  background-image: url('/img/event-5.jpg');
}

.event__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  margin-bottom: 4px;
  width: 100%;
}

.event__place, .event__date {
  margin-left: auto;
  display: inline;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  color: #999;
}

.event__subheading {
  margin-bottom: 05px;
}

.event__description {
  padding-right: 30px;
}

.event__footer {
  padding: 0 18px 0 50px;
}

.event__link {
  padding-bottom: 2px;
  border-color: var(--accent-color);
}

.events__pagination {
  display: none;
  position: absolute;
  bottom: -40px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}

.events__block-btn {
  display: flex;
  justify-content: center;
}