.footer {
  background-color: var(--accent-bg-color);
}

.footer__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 140px;
}

.footer__logo {
  margin-right: auto;
  /* max-height: 39.9px; */
}

.footer__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0;
  transform: translateY(5px);

  /* max-height: 46px; */
}

.footer__social__item:not(:last-child) {
  margin-right: 19px;
}

.footer__social__link {
  display: inline-block;
  width: 45.4px;
  height: 45.4px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.footer__social__link:focus, .footer__social__link:hover {
  background-color: var(--accent-color);
}
.footer__social__link:active {
  background-color: var(--active-color);
}

.link_vk {
  background-image: url('/img/vk.png');
}

.link_instagram {
  background-image: url('/img/instagram.png');
}

.link_fb {
  background-image: url('/img/fb.png');
}