.gallery {
  margin-bottom: 80px;
  background-image: url('/img/gallery-bgnd.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  display: flex;
  align-items: stretch;
  height: 995px;
  color: #fff;
}

.gallery__container__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 80px 50px 60px 0;
  /* align-items: flex-end; */
  width: 450px;
}

.info__filter {
  margin-bottom: auto;
}

.info__filter__list {
  display: flex;
  flex-direction: column;
}

.info__filter__heading {
  margin-bottom: 8px;
}

/* Choises.js */

.choices__inner {
  padding: 3px 7.5px 3px 12px;
  border-radius: 6px;
  border: 1px solid #999;
  line-height: 20px;
  font-size: 16px;
  color: #999;
  background-color: transparent;
  transition-property: color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  min-height: 40px;
}

/* границы верхнего поля при открытом селекте */

.is-open .choices__inner {
  border-radius: 6px 6px 0 0;
  border-color: #fff;
}

.choices__inner:hover, .choices__inner:focus, .is-focused .choices {
  border-color: #fff;
  color: #fff;
}

.choices__list {
  background-color: black;
  border-color: #fff;
  border-radius: 0 0 6px 6px;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 2px;
}

.choices__list--single {
  padding: 4px 16px 2px 4px;
}

/* Подсветка выбранного элемента */

.choices__item--selectable {
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--link-hover-color);
}

/* itemSelectText - приведение к общей transition */

.choices__list--dropdown .choices__item--selectable::after {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

/* стрелка вниз */

.choices[data-type*=select-one]::after {
  content: '\f107';
  top: 8px;
  font-weight: 900;
  font-family: 'FontAwesome';
  width: 12px;
  height: 12px;
  border-width: 0px;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.choices:hover::after {
  opacity: 1;
  top: 8px;
}

.choices.is-focused::after {
  opacity: 1;
  top: 8px;
}

.choices.is-focused.is-open::after {
  opacity: 1;
  top: 13px;
}

/* end Choices.js */

.info__filter__text {
  padding: 10px 20px 10px 0;
  letter-spacing: 0.45px;
}

.gallery__content {
  padding-top: 165px;
  padding-bottom: 80px;
  width: calc(100% - 450px);
  /* min-height: 995px; */
}

.gallery__slider {
  /* padding-top: 60px; */
  width: 100%;
  height: 100%;
}

.gallery__slide {
  /* margin-right: 50px;
  margin-bottom: 50px; */
  height: calc((100% - 50px) / 2);
}

.gallery__slide:nth-child(3n) {
  margin-right: 0;
}

.gallery__slide::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 25px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/img/zoom.png');
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.gallery__slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  outline: 2px solid #D1A9F0;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.gallery__slide:hover::before, .gallery__slide:focus::before {
  opacity: 1;
}

.gallery__slide:active::after {
  opacity: 1;
}

.gallery__slider__control {
  position: relative;
  top: -819px;
  left: 4px;
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
}


.block-pagination {
  text-align: center;
  width: 70px;
  height: 30px;
}
