.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__nav {
  color: var(--text-color-accent);
}

.nav__top {
  background-color: var(--accent-bg-color);
}

.nav__top__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px
}

.header__logo {
  margin-right: auto;
  max-height: 39.9px;
}

.nav__top__list {
  display: flex;
  justify-content: flex-end;
  margin-right: 291px;
}

.nav__item {
  margin-right: 56px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  color: #fff;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  padding: 0 3px;
  outline: 2px solid transparent;
  transition-property: color, outline-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.nav__link:focus {
  outline-color: var(--accent-color);
}

.nav__link:hover {
  color: var(--link-hover-color);
}

.nav__link:active {
  color: var(--active-color);
  outline: none;
}

.link_sign-in {
  position: relative;
  font-weight: 400;
}

.link_sign-in::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 25%;
  left: -17.5px;
  width: 17.5px;
  height: 13px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='white'/%3E%3C/svg%3E") center right no-repeat;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.link_sign-in::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 25%;
  left: -17.5px;
  width: 18px;
  height: 13px;
  opacity: 0;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.link_sign-in:hover::before {
  opacity: 0;
}

.link_sign-in:hover::after {
  opacity: 1;
}
.link_sign-in:active::after {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%237943A4'/%3E%3C/svg%3E%0A");
}

.nav__bottom {
  background-color: rgba(0, 0, 0, 0.4)
}

.nav__bottom__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}

.nav__bottom__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 333px;
}

.nav__bottom__item {
  position: relative;
  padding: 5px 5px;
  padding-left: 0;
  border: 1px solid transparent;
}

.nav__bottom__link {
  cursor: pointer;
  color: var(--text-color-accent);
  font-size: 18px;
  line-height: 25px;
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.angle-down::after {
  content: '\f107';
  margin-left: 4px;
  font-family: 'FontAwesome';
  transform: translateY(-2px);
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.angle-up:after {
  content: '\f106';
  margin-left: 4px;
  font-family: 'FontAwesome';
  transform: translateY(-2px);
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.nav__bottom__item:focus-within {
  border-color: var(--active-color);
}

.nav__bottom__link:hover {
  color: var(--accent-color);
}

.nav__bottom__link:active {
  color: var(--active-color);
}

.nav__bottom__sub-menu {
  position: absolute;
  z-index: 10;
  top: 56px;
  /* bottom: -315px; */
  width: 300px;
  height: 300px;
  padding: 40px;
  /* visibility: hidden; */
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition-property: visibility, opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.6s;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: top center;
}

.sub-menu__item {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 14px;
  width: 220px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-menu__item:last-child {
  margin-bottom: 0;
}

.sub-menu__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
}

.sub-menu__item:hover {
  outline: 2px solid var(--accent-color);
}

.sub-menu__item:active {
  outline: 2px solid #D1A9F0;
}

.sub-menu__item:active::after {
  opacity: 1;
}

.sub-menu_active {
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}

/* start SimpleBar.js */

.simplebar-scrollbar::before {
  top: 0 !important;
  bottom: 0 !important;
  left: 0;
  width: 100%;
  border-radius: 0;
  background-color: var(--accent-color);
}

.simplebar-track.simplebar-vertical {
  background-color: #000;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  right: 15px;
  width: 2px;
  height: calc(300px - 80px);
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

/* end SimpleBar.js */

.item_tinoretto {
  background-image: url('/img/nav/tinoretto.jpg');
}

.item_fridrih {
  background-image: url('/img/nav/fridrih.jpg');
}

.item_leonardo {
  background-image: url('/img/nav/leonardo.jpg');
}

.item_verrokko {
  background-image: url('/img/nav/verrokko.jpg');
}

.header__search {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.search__input {
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--text-color-accent);
  outline: none;
  font-size: 18px;
  line-height: 31px;
  color: var(--link-hover-color);
}

.search__input::placeholder {
  opacity: 1;
  letter-spacing: 0.02em;
  color: var(--text-color-accent);
}

.search__label {
  width: 228px;
  padding: 4px 1px 8px 5px;
  border: 2px solid transparent;
}

.search__label:focus-within {
  border-color: var(--active-color);
}

.search__input:active+.search__btn {
  background-color: tomato;
}

.search__btn {
  position: absolute;
  top: 11px;
  left: -29px;
  width: 32px;
  height: 32px;
  border-radius: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-image: url('/img/find.svg');
}

.search__btn:focus {
  border: 2px solid var(--active-color);
}