.header {
  position: relative;
  z-index: 10;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__nav {
  background-color: var(--accent-bg-color);
}

.nav__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px
}

.header__logo {
  margin-right: auto;
  max-height: 39.9px;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  margin-right: 279px;
}

.nav__item {
  margin-right: 62px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  color: #fff;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  padding: 0 3px;
  outline: 2px solid transparent;
  transition-property: color, outline-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.nav__link:focus {
  outline-color: var(--accent-color);
}

.nav__link:hover {
  color: var(--link-hover-color);
}

.nav__link:active {
  color: var(--active-color);
  outline: none;
}

.link_sign-in {
  position: relative;
  font-weight: 400;
}


.link_sign-in::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -7px;
  width: 13px;
  height: 13px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size:contain;
  /* background: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='white'/%3E%3C/svg%3E") center right no-repeat; */
  background: url("/img/sign-in.png") center right no-repeat;
  
  transition-property: background;
  transition-timing-function: ease-in-out;
  transition-duration: 1.3s;
}
.link_sign-in:hover::before {
  /* background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23C283F3'/%3E%3C/svg%3E%0A"); */
  background-image: url("/img/sign-in-hover.png");
  left: -7px;
  width: 17.5px;

}

.link_sign-in:active::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%237943A4'/%3E%3C/svg%3E%0A");
}

.header__filter-search {
  background-color: rgba(0, 0, 0, 0.4)
}

.filter-search__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}

.filter__list {
  display:flex ;
  justify-content: space-between;
  width: 100%;
  margin-right: 315px;
}