.projects {
  margin-bottom: 79px;
}
.projects__text {
  margin-bottom: 20px;
  max-width: 1079px;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 3C7.33333 3 7 3.31919 7 3.95758C7 4.60026 7.33333 4.92159 8 4.92159C8.33333 4.92159 8.58233 4.83805 8.74699 4.67095C8.91566 4.49957 9 4.26178 9 3.95758C9 3.31919 8.66667 3 8 3ZM7.07831 13H8.91566V5.81491H7.07831V13Z' fill='%23BCBCBC'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  transition-property: background-image;
  transition-duration: 1.3s;
  transition-timing-function: ease-out;
}

.tooltip:hover, .tooltip:focus {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 3C7.33333 3 7 3.31919 7 3.95758C7 4.60026 7.33333 4.92159 8 4.92159C8.33333 4.92159 8.58233 4.83805 8.74699 4.67095C8.91566 4.49957 9 4.26178 9 3.95758C9 3.31919 8.66667 3 8 3ZM7.07831 13H8.91566V5.81491H7.07831V13Z' fill='%239D5CD0'/%3E%3C/svg%3E");
}

.tooltiptext {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  width: 264px;
  bottom: 179%;
  left: 50%;
  margin-left: -142px;
  background-color: var(--muted-color);
  color: #fff;
  text-align: center;
  padding: 13px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  /* Position the tooltip */
  /* z-index: 1; */
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.tooltiptext::after {
  content: '';
  position: absolute;
  visibility: hidden;
  bottom: -10px;
  left: 50%;
  border-top: 11px solid var(--muted-color);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext::after, .tooltip:focus .tooltiptext, .tooltip:focus .tooltiptext::after {
  opacity: 1;
  visibility: visible;
}
.projects__partners {
  position: relative;
}

.projects__partners__subheading {
  margin-bottom: 22px;
}
.partners__slider {
  height: 150px;
  max-width: 90.5%;
  margin: 0 auto;
}

.partners__slider__control {
  top: 104px;
  left: 1px;
  width: 100%;
}

.swiper__btn {
  background-color: #ECECEC;
  border: 2px solid #ECECEC;
}

/* .btn_prev::before, .btn_next::before, .btn_prev::after, .btn_next::after {
  content: '';
  position: relative;
  display: inline-block;
  top: 0%;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center center;
} */

.btn_prev::before {
  /* opacity: 1;
  left: 14%; */
  background-image: url('/img/swiper_prev_dark.svg');
}

.btn_next::before {
  /* opacity: 1;
  left: 21%; */
  background-image: url('/img/swiper_next_dark.svg');
}

.btn_prev::after {
  opacity: 0;
  left: -26%;
  background-image: url('/img/swiper_prev.svg');
}

.btn_next::after {
  opacity: 0;
  left: -17%;
  background-image: url('/img/swiper_next.svg');
}

/* .swiper__btn:focus {
  border-color: var(--active-color);
}

.swiper__btn:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
} */

.btn_prev:hover::before, .btn_prev:active::before,
.btn_next:hover::before, .btn_next:active::before {
  opacity: 0;
}

.btn_prev:hover::after, .btn_prev:active::after,
.btn_next:hover::after, .btn_next:active::after {
  opacity: 1;
}

/* .swiper__btn:active {
  background-color: var(--active-color);
  border-color: #D1A9F0;
} */

.partners__swiper-slide {
  cursor: pointer;
  border: 1px solid var(--muted-color);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-color: #885BC7;
  transition-property: filter, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  filter: grayscale(100%);
  opacity: 0.5;
  height: 100%;
  max-width: 450px;

}

.partners__swiper-slide:hover {
  filter: none;
  opacity: 1;
}
.partner_freelands {
  background-image: url('/img/partners/freelands.png');
}
.partner_ica {
  background-image: url('/img/partners/ica.png');
}
.partner_workhouse {
  background-image: url('/img/partners/workhouse.png');
}
.partner_1849 {
  background-image: url('/img/partners/1849.png');
}
.partner_hiscox {
  background-image: url('/img/partners/hiscox.png');
}
.partner_camden {
  background-image: url('/img/partners/camden.png');
}
.partner_stassen {
  background-image: url('/img/partners/stassen.png');
}
.partner_watts {
  background-image: url('/img/partners/watts.png');
}
.partner_esad {
  background-image: url('/img/partners/esad.png');
}
