.publication {
  margin-bottom: 78px;
  background-image: url('/img/publication-bgnd.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.publication__container {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-accent);
}

.publication__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: 1%;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 26.3%;
}

.publication__genre {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.publication__subheading {
  font-weight: bold;
  margin-bottom: -1px;
}

.pub-angle-down::after {
  display: none;
}

.pub-angle-down::after {
  content: '\f107';
  position: absolute;
  top: 5px;
  right: 1px;
  font-family: 'FontAwesome';
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.pub-angle-up:after {
  content: '\f106';
  position: absolute;
  top: 7px;
  right: 1px;
  font-family: 'FontAwesome';
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.genre__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 25px;
}

.genre__form__label {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: none;
}

.genre__form__checkbox {
  display: none;
  position: absolute;
  opacity: 0;
}

.genre__form__text {
  display: flex;
  align-items: center;
  color: var(--text-color-muted);
}

.genre__form__text::before {
  content: '';
  margin-right: 13px;
  min-width: 12px;
  min-height: 12px;
  border: 1px solid var(--muted-color);
  background-position: center;
  background-repeat: no-repeat;
}

.genre__form__text::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  right: 0;
  opacity: 0;
  outline: 1px solid var(--accent-color);
}

.genre__form__label:focus .genre__form__text::after {
  opacity: 1;
}

.genre__form__label:hover {
  color: var(--link-hover-color);
}

.genre__form__label:hover .genre__form__text::before {
  border-color: var(--link-hover-color);
}

.genre__form__label:active {
  color: var(--active-color);
}

.genre__form__label:active .genre__form__text::before {
  border-color: var(--active-color);
}

.genre__form__label:active .genre__form__text::after {
  opacity: 0;
}

.genre__form__checkbox:checked+.genre__form__text {
  color: var(--link-hover-color);
}

.genre__form__checkbox:checked+.genre__form__text::before {
  background-image: url('../img/checked.png');
  border-color: var(--link-hover-color);
}

.genre__form__checkbox:checked .genre__form__text::after {
  opacity: 0;
}

.publication__price__subheading {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 7px;
}

.price__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  ;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.price__text {
  padding: 4px 10px;
}

.price__input {
  padding: 4px 10px;
  max-width: 73px;
  overflow: hidden;
  border: none;
  color: var(--text-color-accent);
  font-size: 16px;
  line-height: 32px;
  background-color: rgba(157, 92, 208, 0.5);
}

.price__input::placeholder {
  color: #fff;
}

.publication__content {
  position: relative;
  padding-top: 174px;
  padding-bottom: 26px;
  width: 72.7%;
}

.publication__slider {
  padding-left: 12px;
  width: 100%;
  height: 100%;
}

.publication__slide__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding-top: 413px; */
  width: 100%;
}

.pub-item__img {
  width: 100%;
  height: 413px;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pub-item__info {
  display: flex;
  justify-content: space-between;
  /* padding-top: 30px; */
  margin-bottom: 3px;
  width: 100%;
}

.pub-item__info__main {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 10px;
}

.pub-item__info__title {
  font-weight: bold;
  line-height: 22px;
}

.pub-item__info__author {
  line-height: 24px;
}

.pub-item__price {
  font-style: italic;
  line-height: 22px;
}

.pub-item__btn {
  padding: 8px 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color-accent);
}

.slide_1 {
  background-image: url('/img/publication/pub-1.png');
}

.slide_2 {
  background-image: url('/img/publication/pub-2.png');
}

.slide_3 {
  background-image: url('/img/publication/pub-3.png');
}

.slide_4 {
  background-image: url('/img/publication/pub-4.png');
}

.slide_5 {
  background-image: url('/img/publication/pub-5.png');
}

.slide_6 {
  background-image: url('/img/publication/pub-6.png');
}

.slide_7 {
  background-image: url('/img/publication/pub-7.png');
}

.publication__slider__control {
  top: 103px;
  left: 15px;
}