:root {
  --container-max-width: 1603px;
  --main-bg-color: #fff;
  --accent-bg-color: #000;
  --text-color-main: #333;
  --slider-nav-color: #666;
  --text-color-accent: white;
  --muted-color: #CACACA;
  --accent-color: #9D5CD0;
  --active-color: #7943A4;
  --link-hover-color: #C283F3;
  --swiper-theme-color: #666;
  --link-color-light: #fff;
}

*, *::after, *::before {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body {
  /* position: relative; */
  position: relative;
  /* overflow-x: hidden; */
  background-color: var(--main-bg-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--text-color-main);
}

html {
  position: relative;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* textarea:focus, input:focus {
  outline: none;
} */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: calc(var(--container-max-width) + 30px);
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  margin: 0;
  margin-bottom: 17px;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: 66px;
}

.subheading {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.btn {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  transition-property: background-color, color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.btn_simple {
  position: relative;
  padding: 17px 35px;
  outline: none;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.btn_simple::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 0;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 110px;
  border: 2px solid var(--link-hover-color);
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.btn_simple::after {
  content: '';
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  opacity: 0;
  border-radius: 100px;
  border: 3px solid #D1A9F0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.btn_simple:focus::before {
  opacity: 1;
}
/* .btn_simple:focus-visible {
  outline: none;
} */

.btn_simple:hover {
  color: var(--text-color-accent);
  background-color: var(--accent-color);
}
.btn_simple:hover::before {
  opacity: 0;
}

.btn_simple:active {
  color: var(--text-color-accent);
  background-color: var(--active-color);
}

.btn_simple:active::before {
  opacity: 0;
}

.btn_simple:active::after {
  opacity: 1;
}

.btn-to-top {
  display: none;
  position: fixed;
  z-index: 10000;
  right: 40px;
  bottom: 40px;
  padding: 10px 15px;
  color: var(--accent-color);
  border-radius: 100px;
  border: 2px solid var(--accent-color);
  font-size: 16px;
  cursor: pointer;
  opacity: 0.5;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.btn-to-top:hover {
  opacity: 1;
}

.http-link {
  white-space: nowrap;
  color: var(--accent-color);
  border-bottom: 1px solid transparent;
  outline: none;
  transition-property: color, border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.http-link:focus {
  background-color: var(--accent-color);
  color: var(--link-color-light);
}

.http-link:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
  background-color: transparent;
}

.http-link:active {
  color: var(--active-color);
  border-color: var(--active-color);
  background-color: transparent;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Блок управления пагинацией в сладйерах */

.swiper-control {
  position: absolute;
  top: -100px;
  left: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 50px;
}

.swiper-control__btn {
  /* top: 0; */
  z-index: 10;
  position: relative;
  width: 30px;
  height: 30px;
  outline: none;
  cursor: pointer;
  background-color: #666;
  border: 2px solid #666;
  border-radius: 50%;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.swiper-control__btn.swiper-button-disabled {
  opacity: 0.5;
  filter: grayscale(100%);
  cursor: auto;
}

.swiper-control__btn_prev::before, .swiper-control__btn_next::before, .swiper-control__btn_prev::after, .swiper-control__btn_next::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 8px;
  width: 10px;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-control__btn_prev::before {
  opacity: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11L0.999995 6L6 0.999998' stroke='white'/%3E%3C/svg%3E%0A");
}

.swiper-control__btn_next::before {
  opacity: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 0.999998' stroke='white'/%3E%3C/svg%3E%0A");
}

.swiper-control__btn_prev::after {
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11L0.999995 6L6 0.999998' stroke='white'/%3E%3C/svg%3E%0A");
}

.swiper-control__btn_next::after {
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 0.999998' stroke='white'/%3E%3C/svg%3E");
}

.swiper-control__btn_prev:hover::before, .swiper-control__btn_prev:active::before, .swiper-control__btn_next:hover::before, .swiper-control__btn_next:active::before {
  opacity: 0;
}

.swiper-control__btn_prev:hover::after, .swiper-control__btn_prev:active::after, .swiper-control__btn_next:hover::after, .swiper-control__btn_next:active::after {
  opacity: 1;
}

.swiper-control__btn:focus {
  border-color: var(--active-color);
  outline: none;
}

.swiper-control__btn:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.swiper-control__btn:active {
  background-color: var(--active-color);
  border-color: #D1A9F0;
}

.block-pagination {
  text-align: center;
  width: 70px;
  height: 30px;
}

/* Модальное окно */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: flex;
  transform: translate(-50%, -50%);
  width: 900px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.8);
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.modal__content-img {
  width: 400px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.modal__content-info {
  padding: 121px 50px;
  width: calc(100% - 400px);
}

.modal__content-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.modal__content-subheader {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.modal__content-sub-subheader {
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.modal__btn-close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.modal__btn-close::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  opacity: 1;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.63623' width='37.2838' height='3.72838' transform='rotate(45 2.63623 0)' fill='black'/%3E%3Crect y='26.3636' width='37.2838' height='3.72838' transform='rotate(-45 0 26.3636)' fill='black'/%3E%3C/svg%3E%0A");
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.modal__btn-close::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  opacity: 0;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.63623' width='37.2838' height='3.72838' transform='rotate(45 2.63623 0)' fill='white'/%3E%3Crect y='26.3636' width='37.2838' height='3.72838' transform='rotate(-45 0 26.3636)' fill='white'/%3E%3C/svg%3E%0A");
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.modal__btn-close:hover {
  background-color: var(--accent-color);
}

.modal__btn-close:active {
  background-color: var(--active-color);
}

.modal__btn-close:hover::before {
  opacity: 0;
}

.modal__btn-close:hover::after {
  opacity: 1;
}

.modal__btn-close:active {
  transform: scale(1);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
  /* background-color: transparent; */
}
