/* HEADER */

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.header__nav {
    color: var(--text-color-accent);
}

.nav__top {
    background-color: var(--accent-bg-color);
}

.nav__top-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav__toggle {
    display: none;
    position: relative;
    z-index: 16;
    width: 36px;
    height: 28px;
    background: transparent;
    cursor: pointer;
}

.toggle__span {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    width: 78.4%;
    height: 3px;
    background: var( --main-bg-color);
    transition-property: width, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.toggle__span:before, .toggle__span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    height: 3px;
    background: var( --main-bg-color);
    transition-property: width, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.toggle__span:before {
    top: -12px;
    width: 127.6%;
}

.toggle__span:after {
    bottom: -11px;
    width: 85.1%;
}

.nav__toggle:hover .toggle__span, .nav__toggle:focus .toggle__span {
    background-color: var(--accent-color);
}

.nav__toggle:hover .toggle__span:before, .nav__toggle:focus .toggle__span:before {
    width: 85.1%;
    background-color: var(--accent-color);
}

.nav__toggle:hover .toggle__span::after, .nav__toggle:focus .toggle__span::after {
    width: 127.6%;
    background-color: var(--accent-color);
}

.nav__toggle:active .toggle__span {
    background-color: var(--active-color);
}

.nav__toggle:active .toggle__span:before, .nav__toggle:active .toggle__span::after {
    background-color: var(--active-color);
}

.nav__top-burger-close {
    display: none;
    padding: 0;
    margin: 0;
    margin-bottom: 49px;
    margin-left: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 29px;
    height: 29px;
    background-color: transparent;
    text-align: center;
}

.nav__top-burger-close_active {
    display: inline-block;
}

.nav__top-burger-close svg {
    width: 100%;
    height: 100%;
}

.nav__top-burger-close svg rect {
    transition: fill ease-in-out 0.3s;
}

.nav__top-burger-close:hover svg rect, .nav__top-burger-close:focus svg rect {
    fill: var(--accent-color);
}

.nav__top-burger-close:active svg rect {
    fill: var(--active-color);
}

.header__logo {
    margin-right: auto;
    height: 40px;
    width: 173px;
}

.nav__top-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.nav__top-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 14vw;
    margin-bottom: 2px;
}

.nav__top-item {
    margin-right: max(2.6vw, 30px);
}

.nav__top-item:last-child {
    margin-right: 0;
}

.nav__top-link {
    padding: 2px 6px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: var(--link-color-light);
    outline: none;
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.nav__top-link:focus {
    background-color: var(--active-color);
}

.nav__top-link:hover {
    background-color: transparent;
    color: var(--link-hover-color);
}

.nav__top-link:active {
    color: var(--active-color);
    outline: none;
}

.nav__top-link_sign-in {
    position: relative;
    padding: 2px 0 2px 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.nav__top-link_sign-in::before {
    width: 17px;
    background: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='white'/%3E%3C/svg%3E") center right no-repeat;
}

.nav__top-link_sign-in::after {
    width: 18px;
    opacity: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.nav__top-link_sign-in::before, .nav__top-link_sign-in::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 2px;
    height: 13px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity ease-in-out 0.3s;
}

.nav__top-link_sign-in:hover::before {
    opacity: 0;
}

.nav__top-link_sign-in:hover::after {
    opacity: 1;
}

.nav__top-link_sign-in:active::after {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%237943A4'/%3E%3C/svg%3E%0A");
}

.nav__top-search-toogle {
    position: relative;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    border: 1px solid transparent;
    transition-property: border-color, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.nav__top-search-toogle::before, .nav__top-search-toogle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity ease-in-out 0.3s;
}

.nav__top-search-toogle::before {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23FFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23FFF'/%3E%3C/svg%3E");
    opacity: 1;
}

.nav__top-search-toogle::after {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23C283F3'/%3E%3C/svg%3E");
    opacity: 0;
}

.nav__top-search-toogle:focus {
    border-color: var(--active-color);
}

.nav__top-search-toogle:hover:before {
    opacity: 0;
}

.nav__top-search-toogle:hover:after {
    opacity: 1;
}

.nav__bottom {
    background-color: rgba(0, 0, 0, 0.4)
}

.nav__top-search-toogle:active {
    transform: scale(0.96);
}

.nav__bottom-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__bottom-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -10px;
    padding: 19px 0;
    width: 100%;
    height: 100%;
    margin-right: auto;
}

.nav__bottom-item {
    position: relative;
    margin-right: max(4.25vw, 30px);
    outline: none;
}

.nav__bottom-item:last-child {
    margin-right: 0;
}

.nav__bottom-link {
    padding: 0px 10px;
    cursor: pointer;
    color: var(--text-color-accent);
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    outline: none;
    border: none;
    background-color: transparent;
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.angle-down::after, .angle-up:after {
    position: relative;
    left: 2px;
    font-family: 'FontAwesome';
    transition: opacity ease-in-out 0.3s;
}

.angle-down::after {
    content: '\f107';
    top: 2px;
}

.angle-up:after {
    content: '\f106';
    top: -1px;
}

.nav__bottom-link:focus {
    outline: none;
    background-color: var(--active-color);
}

.nav__bottom-link:hover {
    background-color: transparent;
    color: var(--accent-color);
}

.nav__bottom-link:active {
    color: var(--active-color);
}

.nav__bottom-poligon {
    position: absolute;
    z-index: 10;
    top: 51px;
    left: 10px;
    width: 300px;
    height: 300px;
    padding: 38px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition-property: visibility, opacity, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: top center;
}

.nav__bottom-sub-menu {
    width: 100%;
    height: 100%;
}

/* .nav__bottom-sub-menu {
    position: absolute;
    z-index: 10;
    top: 51px;
    left: 10px;
    width: 300px;
    height: 300px;
    padding: 40px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition-property: visibility, opacity, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: top center;
} */

.sub-menu__item {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 14px;
    width: 220px;
    min-height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* border: 2px solid transparent; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: outline ease-in-out 0.3s;
}

.sub-menu__item:last-child {
    margin-bottom: 0;
}

.sub-menu__link {
    outline: none;
}

.sub-menu__link:hover::after, .sub-menu__link:focus::after {
    outline-color: var(--accent-color);
}

.sub-menu__link:active::after {
    outline-color: #D1A9F0;
    background-color: rgba(194, 131, 243, 0.4);
}

.sub-menu__link::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    /* width: 100%;
    height: 100%; */
    cursor: pointer;
    outline: 2px solid transparent;
    transition-property: outline-color, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    /* background-color: red; */
}

.sub-menu_active {
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

/* start SimpleBar.js */

.simplebar-scrollbar::before {
    top: 0 !important;
    bottom: 0 !important;
    left: 0;
    width: 100%;
    border-radius: 0;
    background-color: var(--accent-color);
}

.simplebar-track.simplebar-vertical {
    background-color: #000;
}

.simplebar-track.simplebar-vertical {
    /* top: 40px; */
    top: 0;
    /* right: 15px; */
    right: -20px;
    width: 2px;
    height: calc(300px - 80px);
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}

/* end SimpleBar.js */

.sub-menu__item_tinoretto {
    background-image: url('../img/nav/tinoretto.jpg');
}

.sub-menu__item_fridrih {
    background-image: url('../img/nav/fridrih.jpg');
}

.sub-menu__item_leonardo {
    background-image: url('../img/nav/leonardo.jpg');
}

.sub-menu__item_verrokko {
    background-image: url('../img/nav/verrokko.jpg');
}

.sub-menu__item_mone {
    background-image: url('../img/nav/mone.jpg');
}

.sub-menu__item_sisley {
    background-image: url('../img/nav/sisley.jpg');
}

.sub-menu__item_mane {
    background-image: url('../img/nav/mane.jpg');
}

.sub-menu__item_renuar {
    background-image: url('../img/nav/renuar.jpg');
}

.sub-menu__item_vangog {
    background-image: url('../img/nav/vangog.jpg');
}

.sub-menu__item_sezann {
    background-image: url('../img/nav/sezann.jpg');
}

.sub-menu__item_gogen {
    background-image: url('../img/nav/gogen.jpg');
}

.sub-menu__item_sera {
    background-image: url('../img/nav/sera.jpg');
}

.sub-menu__item_kandinskii {
    background-image: url('../img/nav/kandinskii.jpg');
}

.sub-menu__item_marinetti {
    background-image: url('../img/nav/marinetti.jpg');
}

.sub-menu__item_malevich {
    background-image: url('../img/nav/malevich.jpg');
}

.sub-menu__item_pikasso {
    background-image: url('../img/nav/pikasso.jpg');
}

.sub-menu__item_karra {
    background-image: url('../img/nav/karra.jpg');
}

.sub-menu__item_pratella {
    background-image: url('../img/nav/pratella.jpg');
}

.sub-menu__item_severini {
    background-image: url('../img/nav/severini.jpg');
}

.sub-menu__item_balla {
    background-image: url('../img/nav/balla.jpg');
}

.header__search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}

.header__search:hover .search__input {
    border-color: var(--link-hover-color);
}

.header__search:hover .search__btn::before {
    opacity: 0;
}

.header__search:hover .search__btn::after {
    opacity: 1;
}

.search__input {
    padding: 0 5px 0 0;
    width: 221px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    outline: 2px solid transparent;
    outline-offset: 3px;
    font-size: 18px;
    line-height: 25px;
    color: var(--link-hover-color);
    transition: border-bottom-color ease-in-out 0.3s;
}

.search__input::placeholder {
    opacity: 0.85;
    color: var(--text-color-accent);
}

.search__input:focus {
    border-color: var(--link-hover-color);
}

.search__btn {
    position: relative;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 0;
    outline: none;
    outline-offset: 3px;
    transition: outline-color ease-in-out 0.3s;
}

.search__btn::before, .search__btn::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    transition: opacity ease-in-out 0.3s;
}

.search__btn::before {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23FFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23FFF'/%3E%3C/svg%3E");
    opacity: 1;
}

.search__btn::after {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23C283F3'/%3E%3C/svg%3E");
    opacity: 0;
}

.search__btn:focus::before {
    opacity: 0;
}

.search__btn:focus::after {
    opacity: 1;
}

.search__btn:active::after {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%237943A4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%237943A4'/%3E%3C/svg%3E");
}

.nav__bottom-search-close {
    position: relative;
    right: 0;
    display: none;
    width: 29px;
    height: 29px;
}

.nav__bottom-search-close .btn-close__icon {
    color: var(--text-color-accent);
    stroke-width: 3px;
}

.nav__bottom-search-close:focus .btn-close__icon, .nav__bottom-search-close:hover .btn-close__icon {
    color: var(--accent-color);
}

.nav__bottom-search-close:active .btn-close__icon {
    color: var(--active-color)
}

/* HERO */

.hero {
    position: relative;
    margin-bottom: 78px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    min-height: 800px;
}

.hero__swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .hero__swiper-slide  */

.hero__swiper-slide-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transform: scale(1.1);
    animation: kenburns 12s linear infinite;
}

.main_slide-1 {
    background-image: url('../img/1920_banner-1.jpg');
}

.main_slide-2 {
    background-image: url('../img/1920_banner-2.jpg');
}

.main_slide-3 {
    background-image: url('../img/1920_banner-3.jpg');
}

.hero__info {
    position: relative;
    overflow: hidden;
    padding: 241px 15px 100px 15px;
    width: 100%;
    z-index: 1;
    color: #fff;
}

.hero__heading {
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 600px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.15;
    margin-block-start: 0;
}

.hero__text {
    margin: 0 0 92px 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    max-width: 600px;
}

.hero__btn {
    position: relative;
    padding: 20px 32px;
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    box-sizing: border-box;
}

.hero__btn::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    left: -8px;
    opacity: 0;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border-radius: 110px;
    border: 2px solid var(--link-hover-color);
    transition: opacity ease-in-out 0.3s;
}

.hero__btn:focus::before {
    opacity: 1;
}

.hero__btn:hover {
    border-color: #D1A9F0;
}

.hero__btn:hover::before {
    opacity: 0;
}

.hero__btn:active {
    background-color: var(--active-color);
}

.hero__btn:active::before {
    opacity: 0;
}

@keyframes kenburns {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.85;
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}

/* ABOUT */

.about {
    margin-bottom: 70px;
}

.about__text {
    margin: 0;
    max-width: min(1087px, 100%);
}

/* GALLERY */

.gallery {
    margin-bottom: 82px;
    background-image: url('../img/bgnd/1920_gallery.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__container {
    display: flex;
    align-items: stretch;
    color: #fff;
}

.gallery__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px 50px 60px 0;
    width: 450px;
}

.info__filter {
    margin-bottom: auto;
}

.info__filter__list {
    display: flex;
    flex-direction: column;
}

.info__filter-heading {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
}

/* Choises.js */

/* .choices.is-focused.is-open .choices__list.choices__list--single, .choices:hover .choices__list.choices__list--single {
    color: #fff;
} */

.choices {
    color: #fff;
    opacity: 1;
}

.choices__inner {
    padding: 3px 7px 3px 12px;
    border-radius: 6px;
    border: 1px solid #fff;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    opacity: 1;
    background-color: transparent;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    min-height: 40px;
}

.choices.is-focused.focus-visible .choices__inner {
    background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* границы верхнего поля при открытом селекте */

.is-open .choices__inner {
    border-radius: 6px;
    border-color: #fff;
}

.choices__list {
    background-color: transparent;
    border-color: #fff;
    border-radius: 6px;
}

.choices__placeholder {
    opacity: 1;
}

.choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 2px;
}

.choices__list--single {
    padding: 4px 16px 2px 3px;
}

/* Подсветка выбранного элемента */

.choices__item--selectable {
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/* itemSelectText - приведение к общей transition */

.choices__list--dropdown .choices__item--selectable::after {
    transition: opacity ease-in-out 0.3s;
}

/* стрелка вниз-вверх */

.choices[data-type*=select-one]::after {
    content: '\f107';
    top: 8px;
    font-weight: 900;
    font-family: 'FontAwesome';
    width: 12px;
    height: 12px;
    border-width: 0px;
    transition: content ease-in-out 0.3s;
}

/* .choices:hover::after {
    opacity: 1;
    top: 8px;
} */

/* .choices.is-focused::after {
    opacity: 1;
    top: 8px;
} */

.choices.is-focused.is-open::after {
    opacity: 1;
    content: '\f106';
    top: 13px;
}

.choices__list--dropdown .choices__item {
    padding: 3px 10px 3px 20px;
    border-top: 1px solid #999;
}

/* end Choices.js */

.info__text {
    margin: 0;
    padding: 10px 20px 10px 0;
    letter-spacing: 0.45px;
}

.gallery__content {
    position: relative;
    padding-top: 165px;
    padding-bottom: 80px;
    width: calc(100% - 450px);
}

.gallery__swiper {
    width: 100%;
    height: 750px;
}

.gallery__slide {
    height: calc((100% - 50px) / 2);
}

.gallery__slide:nth-child(3n) {
    margin-right: 0;
}

.gallery__slide::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/icons/zoom.png');
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

.gallery__slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 131, 243, 0.4);
    outline: 2px solid #D1A9F0;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

.gallery__slide:hover::before, .gallery__slide:focus::before {
    opacity: 1;
}

.gallery__slide:active::after {
    opacity: 1;
}

.gallery__slide-author, .gallery__slide-pict-name, .gallery__slide-create-years, .gallery__slide-info {
    display: none;
}

.gallery__slide-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__swiper-control {
    top: 96px;
    left: 3px;
}

.block-pagination {
    width: 70px;
    height: 30px;
}

/* CATALOG */

.catalog {
    margin-bottom: 82px;
}

.catalog__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 23px;
}

.catalog__heading {
    display: block;
    margin: 0;
    margin-right: 41px;
    line-height: 1.15;
}

.catalog__languages {
    display: flex;
    justify-content: flex-start;
    transform: translateY(6px);
}

.lang-tabs__item {
    height: 46px;
    width: 46px;
    margin-right: 50px;
}

.lang-tabs__item:last-child {
    margin-right: 0;
}

.lang-tabs__btn {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    outline: none;
    background-position: center center;
    background-size: 46px 46px;
    background-repeat: no-repeat;
    transition-property: filter, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.lang-tabs__btn_active::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-color: var(--accent-color);
}

.lang-tabs__btn_fr {
    background-image: url('../img/catalog/fr.png');
}

.lang-tabs__btn_de {
    background-image: url('../img/catalog/de.png');
}

.lang-tabs__btn_it {
    background-image: url('../img/catalog/it.png');
}

.lang-tabs__btn_ru {
    background-image: url('../img/catalog/ru.png');
}

.lang-tabs__btn_be {
    background-image: url('../img/catalog/be.png');
}

.lang-tabs__btn:focus {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
    outline: none;
}

.lang-tabs__btn:hover {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.lang-tabs__btn:active {
    filter: none;
    border-color: var(--active-color);
}

.catalog__text {
    margin: 0;
    width: 68%;
}

.catalog__language {
    display: none;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 40px;
    width: 100%;
}

.catalog__language_active {
    display: flex;
    animation: fadeIn ease-in 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.catalog__content {
    margin-right: 50px;
    width: calc(100% - 851px);
}

.catalog__author {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.author_active {
    display: flex;
    animation: fadeIn ease-in 0.5s;
    opacity: 1;
}

.author__image {
    margin-bottom: 30px;
    width: 100%;
}

.author__name, .unknown__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.author__years-life {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

.author__about {
    margin: 0;
}

.author__gallery-link, .unknown__content .unknown__gallery-link {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--accent-color);
    outline: none;
    transition: color 0.3s ease-in-out;
}

.author__gallery-link:hover, .unknown__content .unknown__gallery-link:hover .author__gallery-link:focus, .unknown__content .unknown__gallery-link:focus {
    color: #555;
}

.author__gallery-link:active, .unknown__content .unknown__gallery-link:active {
    color: var(--active-color);
}

.accordion__content-unknown {
    display: flex;
    justify-content: start;
    align-items: stretch;
    padding: 25px 0;
}

.unknown__image {
    margin: 14px 38px 14px 14px;
    width: 30%;
    outline: 2px solid #B7B7B7;
    outline-offset: 12px;
}

.unknown__content {
    padding: 40px 10px;
    width: 37%;
}

.catalog__info {
    width: 800px;
}

.catalog__accordion.accordion {
    width: 100%;
    border-top: 1px solid var(--muted-color);
}

.accordion__item {
    position: relative;
    margin-top: -1px;
    outline: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--muted-color);
    transition: border-color ease-in-out 0.3s;
}

.accordion__item .accordion__btn {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: -1px;
    padding: 39px 50px 43px 0px;
    width: 100%;
    border: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    transition-property: color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

/* .ui-state-default {
    background: none !important;
} */

/* .catalog__accordion .accordion__item  */

.accordion__content.ui-accordion-content {
    margin-bottom: -1px;
    padding: 0;
    border: none;
    border-radius: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: border-color ease-in-out 0.3s;
}

.accordion__subheading {
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.accordion__icon {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ececec;
    transition: background-color ease-in-out 0.3s;
}

.accordion__icon::before, .accordion__icon::after {
    content: "";
    position: absolute;
    z-index: 5;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    transition: transform ease-in-out 0.3s;
}

.accordion__icon::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.3333 8.33334L9 16.6667L0.666664 8.33334' stroke='black'/%3E%3C/svg%3E%0A");
    /* opacity: 1; */
}

/* .accordion__icon::after {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.3333 8.33334L9 16.6667L0.666664 8.33334' stroke='white'/%3E%3C/svg%3E%0A");
    opacity: 0;
} */

/* accordion состояния */

.accordion__item .accordion__btn.ui-state-focus .accordion__subheading {
    color: var(--link-color-light);
    background-color: var(--accent-color)
}

.accordion__item .accordion__btn.ui-state-focus .accordion__icon {
    background-color: #D1A9F0;
}

/* .accordion__item .accordion__btn.ui-state-focus .accordion__subheading {
    color: var(--active-color);
    background-color: transparent;
} */

.accordion__item:hover {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

.accordion__item .accordion__btn.ui-state-active.ui-state-focus.ui-state-hover .accordion__subheading, .accordion__item .accordion__btn.ui-state-hover {
    color: var(--accent-color);
}

.accordion__item .accordion__btn.ui-state-hover .accordion__icon {
    background-color: #D1A9F0;
}

.accordion__btn:active .accordion__icon {
    background-color: #D1A9F0;
    border: 1px solid var(--active-color);
}

.accordion__btn:active .accordion__subheading {
    color: #333333;
    background-color: transparent;
}

.accordion__item .accordion__btn.ui-state-focus.ui-state-active .accordion__subheading {
    color: #333333;
    background-color: transparent;
}

/* .accordion__item .accordion__btn.ui-state-active .accordion__icon {
    background-color: #D1A9F0;
} */

.accordion__item .accordion__btn.ui-state-active .accordion__icon::before {
    transform: rotate(180deg);
}

.catalog__accordion .accordion__item .accordion__content.ui-accordion-content-active {
    border-color: var(--active-color);
}

.catalog__list {
    padding: 27px 47px 20px 3px;
    columns: 3 200px;
    column-fill: auto;
    width: 100%;
}

.catalog__item {
    position: relative;
    min-width: 208px;
    display: inline-block;
}

.catalog__item .catalog__item-btn {
    font-family: "Open Sans", sans-serif;
    color: var(--text-color-main);
    text-align: left;
    font-weight: 400;
    font-style: normal;
    line-height: 31px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    outline: none;
    border-bottom: 1px solid transparent;
    transition-property: color, border-color, outline-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.catalog__item-btn:focus {
    color: var(--link-color-light);
}

.catalog__item-btn:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.catalog__item-btn:active {
    color: var(--active-color);
    border-color: transparent;
}

.catalog__item .catalog__item-btn.catalog__item-btn_active {
    color: var(--active-color);
    /* font-weight: 600; */
}

/* EVENTS */

.events {
    margin-bottom: 82px;
}

.events__heading {
    margin-bottom: 12px;
}

.events__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.events__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-right: calc(100px / 2);
    padding-bottom: 38px;
    width: calc(100% / 3 - 100px / 3);
    min-height: 700px;
    border: 1px solid #CACACA;
    transition: opacity ease-in-out 0.3s;
}

.events__item:nth-child(3n) {
    margin-right: 0;
}

.events__item:nth-child(n+4) {
    display: none;
    opacity: 0;
}

.event__img {
    width: 100%;
    height: 300px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin-bottom: auto;
    padding: 13px 18px 13px 50px;
    transition: opacity ease-in-out 0.3s;
}

.event:nth-child(1) .event__img {
    background-image: url('../img/events/event-1.jpg');
}

.event:nth-child(2) .event__img {
    background-image: url('../img/events/event-2.jpg');
}

.event:nth-child(3) .event__img {
    background-image: url('../img/events/event-3.jpg');
}

.event:nth-child(4) .event__img {
    background-image: url('../img/events/event-4.jpg');
}

.event:nth-child(5) .event__img {
    background-image: url('../img/events/event-5.jpg');
}

.event__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    margin-bottom: 4px;
    width: 100%;
}

.event__place, .event__date {
    margin-left: auto;
    display: inline;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    color: #999;
}

.event__subheading {
    margin-bottom: 5px;
}

.event__description {
    margin: 0;
    padding-right: 30px;
}

.event__footer {
    padding: 0 18px 0 50px;
}

.event__link {
    position: relative;
    padding: 0 5px 10px 5px;
    color: var(--accent-color);
    outline: none;
    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.event__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 7px;
    border-bottom: 1px solid var(--accent-color);
    transition: border-color 0.3s ease-in-out;
}

.event__link:focus {
    background-color: var(--accent-color);
    color: var(--link-color-light);
}

.event__link:focus::after {
    border-color: var(--link-color-light);
}

.event__link:hover {
    color: var(--active-color);
    background-color: transparent;
}

.event__link:hover::after {
    border-color: var(--active-color);
}

.event__link:active {
    color: var(--text-color-main);
    background-color: transparent;
}

.event__link:active::after {
    border-color: var(--text-color-main);
}

.events__pagination {
    display: none;
    position: absolute;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.events__pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: 11px;
}

.events__block-btn {
    display: flex;
    justify-content: center;
}

.events__btn {
    padding: 15px 35px;
}

/* PUBLICATIONS */

.publication {
    margin-bottom: 78px;
    background-image: url('../img/bgnd/1920_pub.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publication__container {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-accent);
}

.publication__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 1%;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 26.3%;
}

.publication__genre {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.genre__heading {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -1px;
}

.pub-angle-down::after {
    display: none;
}

.pub-angle-down::after {
    content: '\f107';
    position: absolute;
    top: 5px;
    right: 1px;
    font-family: 'FontAwesome';
    transition: opacity ease-in-out 0.3s;
}

.pub-angle-up:after {
    content: '\f106';
    position: absolute;
    top: 7px;
    right: 1px;
    font-family: 'FontAwesome';
    transition: opacity ease-in-out 0.3s;
}

.genre__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 25px;
}

.genre__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline: none;
    cursor: pointer;
}

.genre__checkbox {
    display: none;
    position: absolute;
    opacity: 0;
}

.genre__text {
    display: flex;
    align-items: center;
    color: var(--text-color-muted);
}

.genre__text::before {
    content: '';
    margin-right: 13px;
    min-width: 12px;
    min-height: 12px;
    border: 1px solid var(--muted-color);
    background-position: center;
    background-repeat: no-repeat;
}

.genre__text::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
    right: 0;
    opacity: 0;
    outline: 1px solid var(--accent-color);
}

.genre__label:focus {
    color: var(--accent-color);
}

.genre__label:focus, .genre__label:hover {
    color: var(--link-hover-color);
}

.genre__label:focus .genre__text::before, .genre__label:hover .genre__text::before {
    border-color: var(--link-hover-color);
}

.genre__label:active {
    color: var(--active-color);
}

.genre__label:active .genre__text::before {
    border-color: var(--active-color);
}

.genre__label:active .genre__text::after {
    opacity: 0;
}

.genre__checkbox:checked+.genre__text {
    color: var(--link-hover-color);
}

.genre__checkbox:checked+.genre__text::before {
    background-image: url('../img/icons/checked.png');
    border-color: var(--link-hover-color);
}

.genre__checkbox:checked .genre__text::after {
    opacity: 0;
}

.price__subheading {
    display: inline-block;
    margin: 0 0 7px 0;
    font-size: 16px;
}

.price__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.price__text {
    padding: 4px 10px;
}

.price__input {
    padding: 3px 10px;
    max-width: 73px;
    overflow: hidden;
    border: none;
    color: var(--text-color-accent);
    font-size: 16px;
    line-height: 32px;
    background-color: rgba(157, 92, 208, 0.5);
    transition-property: outline-color, background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}

.price__input::placeholder {
    color: #fff;
    opacity: 1;
}

.price__input:focus {
    background-color: var(--accent-color);
    outline: 1px solid white;
}

.price__input:hover {
    background-color: var(--accent-color);
}

:active .price__input:focus:active {
    background-color: var(--active-color);
    outline-color: transparent;
}

.publication__content {
    position: relative;
    padding-top: 174px;
    padding-bottom: 26px;
    width: 72.7%;
}

.publication__swiper {
    padding-left: 12px;
    width: 100%;
    height: 100%;
}

.publication__slide-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.publication__slide-img {
    width: 100%;
    height: 413px;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.publication__slide-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    width: 100%;
}

.publication__slide-header {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 10px;
}

.publication__slide-title {
    font-weight: bold;
    line-height: 22px;
}

.publication__slide-author {
    line-height: 24px;
}

.publication__slide-price {
    font-style: italic;
    line-height: 22px;
}

.publication__slide-btn {
    padding: 8px 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color-accent);
}

.publication__swiper-control {
    top: 103px;
    left: 15px;
}

/* PROJECTS */

.projects {
    margin-bottom: 79px;
}

.projects__text {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    max-width: 1079px;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z' stroke='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    transition: background-image 1.3s ease-out;
}

.tooltip:hover, .tooltip:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z' fill='%23D1A9F0' stroke='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='black'/%3E%3C/svg%3E");
}

.tooltip:active {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z' fill='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='white'/%3E%3C/svg%3E");
}

.tooltiptext {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    width: 264px;
    bottom: 28px;
    left: 50%;
    margin-left: -142px;
    background-color: var(--accent-color);
    color: #fff;
    text-align: center;
    padding: 13px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    transition: opacity 0.3s ease-out;
}

.tooltiptext_active, .tooltiptext-mark_active {
    transition-property: opacity, visibility;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    visibility: visible !important;
    opacity: 1 !important;
}

.tooltiptext-mark {
    position: absolute;
    visibility: hidden;
    bottom: 18px;
    left: 50%;
    margin-left: -10px;
    border-top: 11px solid var(--accent-color);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext-mark, .tooltip:focus .tooltiptext, .tooltip:focus .tooltiptext-mark {
    opacity: 1;
    visibility: visible;
}

.projects__partners {
    position: relative;
}

.partners__subheading {
    margin-bottom: 22px;
}

.partners__swiper {
    padding-left: 1px;
    height: 150px;
    max-width: 90.5%;
    margin: 0 auto;
}

.partners__swiper-control {
    top: 104px;
    left: 1px;
    width: 100%;
}

.partners__swiper-control .swiper-control__btn {
    background-color: #ECECEC;
    border: 2px solid #ECECEC;
}

.partners__swiper-control .swiper-control__btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11L0.999995 6L6 0.999998' stroke='black'/%3E%3C/svg%3E ");
}

.partners__swiper-control .swiper-control__btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 0.999998' stroke='black'/%3E%3C/svg%3E%0A");
}

.partners__swiper-control .swiper-control__btn:focus {
    border-color: var(--active-color);
}

.partners__swiper-control .swiper-control__btn:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.partners__swiper-control .swiper-control__btn:active {
    background-color: var(--active-color);
    border-color: #D1A9F0;
}

.partners__swiper-slide {
    height: 100%;
    max-width: 450px;
    border: 1px solid var(--muted-color);
    outline: none;
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.partners__swiper-img {
    height: 100%;
    width: 100%;
    ;
    cursor: pointer;
    /* border: 1px solid var(--muted-color); */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    /* border-color: var(--muted-color); */
    filter: grayscale(100%);
    opacity: 0.5;
    transition-property: filter, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.partners__swiper-slide:hover .partners__swiper-img {
    filter: none;
    opacity: 1;
}

.partners__swiper-slide:focus {
    border-color: #885BC7;
}

.partners__swiper-slide:active {
    border-color: #885BC7;
}

.partners__swiper-slide:active .partners__swiper-img {
    filter: none;
    opacity: 1;
}

/* CONTACTS */

.contacts__heading {
    margin-right: auto;
    margin-left: auto;
}

.contacts__container {
    display: flex;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    padding: 124px 6.2% 113px 8.2%;
    width: min(682px, 35.5%);
    border: 1px solid var(--muted-color);
}

.showroom__item {
    margin-bottom: 28px;
}

.showroom__title {
    margin-bottom: 1px;
}

.contacts__subheading {
    margin-bottom: 16px;
    font-weight: 400;
}

.contact-form {
    margin-bottom: 33px;
}

.contact-form__input-box {
    margin-bottom: 23px;
}

.contact-form__input {
    padding: 5px 30px;
    width: 100%;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 100px;
    outline: none;
    transition-property: color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.contact-form__input::placeholder {
    color: #999;
}

.contact-form__input:last-child {
    margin-bottom: 0;
}

.contact-form__input:focus, .contact-form__input:hover {
    background-color: #EAEAEA;
}

.contact-form__checkbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

.checkbox__lable {
    position: relative;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
}

.checkbox__text {
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: 10px;
    line-height: 20px;
    color: var(--text-color-muted);
}

.checkbox__text::before {
    content: '';
    margin-right: 16px;
    min-width: 12px;
    min-height: 12px;
    border: 1px solid var(--muted-color);
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox__input:checked+.checkbox__text::before {
    background-image: url('../img/icons/checked.png');
    border-color: var(--accent-color);
}

.checkbox__text::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
    right: 0;
    opacity: 0;
    outline: 1px solid var(--accent-color);
    transition: opacity 0.3s ease-in-out;
}

.checkbox__input:hover+.checkbox__text::after, .checkbox__input:focus+.checkbox__text::after {
    opacity: 1;
}

.contact-form__btn {
    margin-right: 30px;
}

.contacts__messenger-list {
    display: flex;
}

.messenger-list__item:not(:last-child) {
    margin-right: 20px;
}

.messenger-list__link {
    display: inline-block;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    outline: none;
    transition: border ease-in-out 0.3s;
}

.messenger-list__icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    transition-property: opacity, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.messenger-list__link:hover .messenger-list__icon, .messenger-list__link:focus .messenger-list__icon {
    opacity: 0.5;
}

.messenger-list__link:active .messenger-list__icon {
    border-color: #9643A4;
    opacity: 1;
}

.contacts__map {
    width: 64.5%;
}

/* Стилизация Yandex карты */

[class*="ground-pane"] {
    filter: grayscale(1);
}

[class*="copyrights"] {
    display: none;
    ;
}

/* Стилизация JustValidate */

.just-validate-tooltip-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.js-validate-error-label {
    top: -33PX !important;
    right: 0;
    left: 0 !important;
    padding-left: 20px !important;
    font-size: 12px !important;
    background-color: transparent !important;
}

/* FOOTER */

.footer {
    background-color: var(--accent-bg-color);
}

.footer__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 140px;
}

.footer__logo {
    margin-right: auto;
    max-height: 40px;
}

.footer__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0;
    transform: translateY(5px);
}

.footer__item:not(:last-child) {
    margin-right: 19px;
}

.footer__link {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: none;
}

.footer__icon {
    width: 100%;
    height: 100%;
    color: var(--muted-color);
    transition: color 0.3s ease-in-out;
}

.footer__link:focus .footer__icon, .footer__link:hover .footer__icon {
    color: #fff;
}

.footer__link:active .footer__icon {
    color: var(--accent-color)
}