@media (max-width: 425px) {
  body {
    font-size: 14px;
    line-height: 28px;
  }
  .heading {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 38px;
  }
  .nav__top-container {
    height: 45px;
  }
  .nav__toggle {
    margin-right: calc(50% - 20px - 30vw / 2);
    width: 20px;
    height: 15px;
  }
  .toggle__span {
    top: 6.5px;
    height: 2px;
  }
  .toggle__span:before {
    height: 2px;
    top: -6.57px;
  }
  .toggle__span:after {
    height: 2px;
    bottom: -6.57px;
  }
  .header__logo {
    margin-right: auto;
    width: 30vw;
    max-height: 7vw;
  }
  .nav__top__block {
    padding: 4.5% 5% 9% 4.5%;
    height: 355px;
  }
  .nav__top__burger-close {
    width: 15px;
    margin-bottom: 15px;
    height: 15px;
  }
  .nav__top__list {
    margin-bottom: auto;
  }
  .nav__top__sign-in-btn {
    font-size: 0;
    line-height: 0;
  }
  .nav__top__item {
    font-size: 16px;
    line-height: 32px;
  }
  .nav__top__item:not(:last-child) {
    margin-bottom: 0;
  }
  .nav__top__sign-in-btn {
    padding: 12px 32px;
  }
  .link_sign-in {
    padding-left: 10px;
    font-size: 12px;
    line-height: 1;
  }
  .link_sign-in::before, .link_sign-in::after {
    height: 9px;
    top: 4.5px;
    left: -2px;
  }
  .link_sign-in::before {
    width: 9px;
  }
  .link_sign-in::after {
    width: 9.5px;
  }
  .nav__top__search-toogle {
    display: flex;
    width: 18px;
    height: 18px;
  }
  .nav__bottom-bgcolor {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .nav__bottom__blur {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(4px);
  }
  .nav__bottom-container {
    height: 100%;
    padding-left: 70px;
  }
  .header__search {
    width: 79%;
    transform: translateY(8px)
  }
  .search__btn {
    top: 8px;
    left: -15px;
    width: 21px;
    height: 21px;
  }
  .nav__bottom__search-close {
    width: 18px;
    height: 18px;
    transform: translateY(-15px);
  }
  .hero {
    margin-bottom: 50px;
  }
  .hero__container {
    min-height: 355px;
  }
  .hero__info {
    padding: 77px 0 45px 0;
  }
  .hero__heading {
    margin-bottom: 12px;
    padding: 0 30px;
    font-size: 10vw;
    line-height: 1.18;
  }
  .hero__text {
    margin-bottom: 42px;
    padding: 0 25px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  .hero__btn {
    padding: 8.5px 16px;
  }
  .about {
    margin-bottom: 42px;
  }
}