/* HERO */

.hero {
  position: relative;
  margin-bottom: 78px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* position: relative; */
  padding: 0;
  min-height: 800px;
}

.hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .hero__swiper-slide  */

.hero__swiper-slide__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transform: scale(1.1);
  animation: kenburns 12s linear infinite;
}

.main_slide-1 {
  background-image: url('/img/1920_banner-1.jpg');
}

.main_slide-2 {
  background-image: url('/img/1920_banner-2.jpg');
}

.main_slide-3 {
  background-image: url('/img/1920_banner-3.jpg');
}

.hero__info {
  position: relative;
  overflow: hidden;
  padding: 241px 15px 100px 15px;
  width: 100%;
  z-index: 1;
  color: #fff;
}

.hero__heading {
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 600px;
  max-height: 100%;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.15;
}

.hero__text {
  margin-bottom: 92px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  /* letter-spacing: 0.25px; */
  max-width: 600px;
}

.hero__btn {
  position: relative;
  padding: 19.5px 32px;
  background-color: var(--accent-color);
  border: 3px solid var(--accent-color);
  box-sizing: border-box;
}

.hero__btn::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -8px;
  left: -8px;
  opacity: 0;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border-radius: 110px;
  border: 2px solid var(--link-hover-color);
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.hero__btn:focus::before {
  opacity: 1;
}

.hero__btn:hover {
  border-color: #D1A9F0;
}

.hero__btn:hover::before {
  opacity: 0;
}

.hero__btn:active {
  background-color: var(--active-color);
}

.hero__btn:active::before {
  opacity: 0;
}

@keyframes kenburns {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.85;
      transform: scale(1);
  }
  100% {
      opacity: 1;
  }
}
